services:
  
  backend:
    container_name: node-crud-app
    build:
      context: .
      dockerfile: dockerfile
    ports:
    - "5000:5000"
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/studentdb
      - PORT=5000
    depends_on:
    - mongodb
    networks:
    - crud-network
    restart: unless-stopped

  mongodb:
    container_name: mongodb
    image: mongo:latest
    ports:
    - "27017:27017"
    volumes:
    - crud-data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=studentdb
    healthcheck:
      test: ["CMD","mongosh","--eval","db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
    - crud-network
    restart: unless-stopped

volumes:
  crud-data:
    driver: local

networks:
  crud-network:
    driver: local