kind: Deployment # StatefulSet # later use
apiVersion: apps/v1
metadata:
  name: mongo-deployment
  namespace: crudapp-database
  labels:
    app: mongodb
spec:
  # serviceName: mongodb-svc # for stateful only
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:latest
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db
          env:
          - name: MONGO_INITDB_ROOT_USERNAME
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: mongodb-username
          - name: MONGO_INITDB_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: mongodb-password
          - name: MONGO_INITDB_DATABASE
            valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: mongodb-database
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc


